<% provide(:navigation_url, "/") %>
<% provide(:navigation_text, "Back") %>
<div class="sql">
	<ol>
		<li>
			Get <mark class="yellow">all statuses</mark>, not repeating, <mark class="green">alphabetically</mark> ordered
			<%= render partial: 'shared/xmltable', locals: {parsed: @parsed[0], header: @header[0], function: @query[0], n: 0} %>
		</li>

	</ol>
	<center>
		<p>
			<a href="/">Back to Main</a>
		</p>
	</center>
</div>
