<div class="sql">
	<ol>
		<li>
			Get <mark class="yellow">all statuses</mark>, not repeating, <mark class="green">alphabetically</mark> ordered
			<div class="tab">
				
			</div>
		</li>
		<li>
			get the <mark class="yellow">count</mark> of <mark class="red">all tasks</mark> in each project, Get order by <mark class="green">tasks count descending</mark>
			<div class="tab">
				
			</div>
		</li>
		<li>
			get the <mark class="yellow">count</mark> of <mark class="red">all tasks</mark> in each project, order by <mark class="green">projects names</mark>
			<div class="tab">
				
			</div>
		</li>
		<li>
			get the <mark class="yellow">tasks</mark> for all <mark class="red">projects</mark> having the name <mark class="red">beginning with “N”</mark> letter
			<div class="tab">
				
			</div>
		</li>
		<li>
			get the list of all <mark class="yellow">projects</mark> containing the <mark class="red">‘a’ letter in the middle of the name</mark>, and
			show the <mark class="yellow">tasks count</mark> near each project. Mention that there can exist projects without
			tasks and tasks with project_id=NULL
			<div class="tab">
				
			</div>
		</li>
		<li>
			get the list of <mark class="yellow">tasks</mark> with <mark class="red">duplicate names.</mark> Order <mark class="green">alphabetically</mark>
			<div class="tab">
				
			</div>
		</li>
		<li>
			get the list of <mark class="yellow">tasks</mark> having several exact <mark class="red">matches</mark> of both <mark class="red">name</mark> and <mark class="red">status</mark>, from
			the <mark class="red">project ‘Garage’.</mark> Order by <mark class="green">matches count</mark>
			<div class="tab">
				
			</div>
		</li>
		<li>
			get the list of <mark class="yellow">project names</mark> having <mark class="red">more than 10 tasks in status ‘completed’.</mark> Order
			by <mark class="green">project_id</mark>
			<div class="tab">
				
			</div>
		</li>
	</ol>
	<center>
		<p>
			<a href="/">Back to Main</a>
		</p>
	</center>
</div>