<footer>
	<div>
		<% unless Rails.env.production? %>
			<a class="label" href="<%=(yield :navigation_url)%>"><%=yield :navigation_text%></a>
		<% end %>
		<a class="label" target="_blank" href="https://vk.com/follow_sarcasm">Contact</a>
		<a class="label" target="_blank" href="https://github.com/iSarCasm/RubyTaskManager">GitHub</a>
	</div>
</footer>
